      <!-- Javascript de Materialize -->
      <script src="/js/materialize.min.js"></script>
      <script src="/js/jquery-3.6.0.min.js"></script>
      <script src="/js/datatables.min.js"></script>
      <script>
        $(document).ready(function() {
        $('#historial').DataTable();
         } );
        
      //MATERIALIZE
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });
         
      </script>
  </body>
  </html>