<%- include('partials/head.ejs') %>

     

 <h4>Bienvenido</h4>
<h4 class="center">Accidentes en Parque Jurasico</h4>

<div class="container">
    <div class="row ">
    <div class="col"></div>
       <div class="col-4">
         <div class="card z-depth-5 blue hoverable white-text center">
            <a href="/actividades/nuevo_accidente" class="white-text"><h3>Nuevo Accidente</h3></a> 
         </div>
       </div>  
    <div class="col"></div>
    </div>
   
</div>
<div class="divider"></div>
<%- include('partials/table_estado.ejs') %>



<%- include('partials/footer.ejs') %>