<%- include('partials/head.ejs') %>
<div class="container">
    <h1>Registrar Nuevo Accidente</h1>  
   
      
    <form action="nuevo_accidente" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <select name="id_lugar">
                  <option value="" disabled selected>Elegir Lugar</option>
                  <option value="1">Centro turistico</option>
                  <option value="2">Laboratorios</option>
                  <option value="3">Restaurante</option>
                  <option value="4">Centro Operativo</option>
                  <option value="5">Triceratops</option>
                  <option value="6">Dilofosaurios</option>
                  <option value="7">Velociraptors</option>
                  <option value="8">TRex</option>
                  <option value="9">Planicie de los herbívoros</option>
                </select>
                <label>Lugar del accidente</label>
              </div>

              <div class="input-field col s12">
                <select name="id_tipo">
                  <option value="" disabled selected>Elegir Accidente</option>
                  <option value="1">Falla eléctrica</option>
                  <option value="2">Fuga de herbívoro</option>
                  <option value="3">Fuga de Velociraptors</option>
                  <option value="4">Fuga de TRex</option>
                  <option value="5">Robo de ADN</option>
                  <option value="6">Auto descompuesto</option>
                  <option value="7">Visitantes en zona no autorizada</option>
                </select>
                <label>Tipo de accidente</label>
              </div>
            
            
            <input class="large btn" type="submit" name="enviar" value="REGISTRAR">
        </div>
    </form>
</div>

<%- include('partials/footer.ejs') %>

  